<div>
	<a ui-sref="inicio" class="pull-right btn btn-primary btn-outline btn-rounded">Volver a inicio</a>
	<h2>Información <small></small></h2>
	<span class="glyphicon glyphicon-search bg-fade"></span>
	<div class="jumbotron">
		<div class="container">


    <div class="page-header">
      <h2>Artritis Reumatoide</h2>
    </div>
			<div class="row">


				
	<form class="form-horizontal">
<fieldset>


<!-- Form Name -->
<legend>Datos del paciente</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textEdad">Edad</label>  
  <div class="col-md-2">
  <input id="textEdad" name="textEdad" type="number" placeholder="" class="form-control input-md" required="" value="30">
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectSexo">Sexo</label>
 
  <div class="col-md-4">
    <select id="selectSexo" name="selectSexo" class="form-control">
      <option value="1">Femenino</option>
      <option value="2">Masculino</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="select_raza">Raza</label>
  <div class="col-md-4">
    <select id="select_raza" name="select_raza" class="form-control">
      <option value="1">Caucásico</option>
      <option value="2">Afro Americano</option>
      <option value="3">Latino</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textNArtInf">Número de articulaciones inflamadas</label>  
  <div class="col-md-2">
  <input id="textNArtInf" name="textNArtInf" type="number" placeholder="" class="form-control input-md" value="8">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textNArtDol">Número de articulaciones dolorosas</label>  
  <div class="col-md-2">
  <input id="textNArtDol" name="textNArtDol" type="number" placeholder="" class="form-control input-md" value="4">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textEritro">Eritrosedimentación</label>  
  <div class="col-md-2">
  <input id="textEritro" name="textEritro" type="number" placeholder="" class="form-control input-md" value="15 mm/h"> 
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textProC">Proteina C reactiva</label>  
  <div class="col-md-2">
  <input id="textProC" name="textProC" type="number" placeholder="" class="form-control input-md" value="3.0 mg/L">
  

    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textCol">Colesterol total</label>  
  <div class="col-md-2">
  <input id="textCol" name="textCol" type="number" placeholder="" class="form-control input-md" value="200 mg/dL">
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectTEvol">Tiempo de evolución de la enfermedad</label>
  <div class="col-md-4">
    <select id="selectTEvol" name="selectTEvol" class="form-control">
      <option value="1">Temprana</option>
      <option value="2">Tardía</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectTabaq">Tabaquismo</label>
  <div class="col-md-2">
    <select id="selectTabaq" name="selectTabaq" class="form-control">
    <option value="1">No</option>
    <option value="2">Sí</option>
      
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textAntiCCP">AntiCCP</label>  
  <div class="col-md-2">
  <input id="textAntiCCP" name="textAntiCCP" type="number" placeholder="" class="form-control input-md" value="13U">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textFReum">Factor reumatoide</label>  
  <div class="col-md-2">
  <input id="textFReum" name="textFReum" type="number" placeholder="" class="form-control input-md" value="60 u/mL">
</div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textIndiceCCI">Índice CCI</label>  
  <div class="col-md-2">
  <input id="textIndiceCCI" name="textIndiceCCI" type="number" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectEros">Erosiones</label>
  <div class="col-md-2">
    <select id="selectEros" name="selectEros" class="form-control">
      <option value="1">Sí</option>
      <option value="2">No</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectFuncionalidad">Funcionalidad del paciente</label>
  <div class="col-md-2">
    <select id="selectFuncionalidad" name="selectFuncionalidad" class="form-control">
      <option value="1">Sí</option>
      <option value="2">No</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectDep">Dependencia</label>
  <div class="col-md-2">
    <select id="selectDep" name="selectDep" class="form-control">
      <option value="1">Sí</option>
      <option value="2">No</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectLabAct">Laboralmente activo</label>
  <div class="col-md-2">
    <select id="selectLabAct" name="selectLabAct" class="form-control">
      <option value="1">Sí</option>
      <option value="2">No</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinputTGP">TGP</label>  
  <div class="col-md-2">
  <input id="textinputTGP" name="textinputTGP" type="number" placeholder="" class="form-control input-md" value="40 U/L">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinputTGO">TGO</label>  
  <div class="col-md-2">
  <input id="textinputTGO" name="textinputTGO" type="number" placeholder="" class="form-control input-md" value="39 U/L">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinputCreatinina">Creatinina</label>  
  <div class="col-md-2">
  <input id="textinputCreatinina" name="textinputCreatinina" type="number" placeholder="" class="form-control input-md" value="1,3 mg/dl">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinputTuberculina">Tuberculina</label>  
  <div class="col-md-2">
  <input id="textinputTuberculina" name="textinputTuberculina" type="number" placeholder="" class="form-control input-md" value="5mm">
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasicAnemia">Anemia</label>
  <div class="col-md-2">
    <select id="selectbasicAnemia" name="selectbasicAnemia" class="form-control">
      <option value="1">Sí</option>
      <option value="2">No</option>
    </select>
  </div>
</div>

<!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="checkboxVacunas">Vacunas</label>
  <div class="col-md-4">
    <label class="checkbox-inline" for="checkboxVacunas-0">
      <input type="checkbox" name="checkboxVacunas" id="checkboxVacunas-0" value="1">
      Neumococo
    </label>
    <label class="checkbox-inline" for="checkboxVacunas-1">
      <input type="checkbox" name="checkboxVacunas" id="checkboxVacunas-1" value="2">
      Hepatitis B
    </label>
    <label class="checkbox-inline" for="checkboxVacunas-2">
      <input type="checkbox" name="checkboxVacunas" id="checkboxVacunas-2" value="3">
      Influenza
    </label>
    <label class="checkbox-inline" for="checkboxVacunas-3">
      <input type="checkbox" name="checkboxVacunas" id="checkboxVacunas-3" value="4">
      Herpes
    </label>
  </div>
</div>

<!-- Multiple Checkboxes -->
<div class="form-group">
  <label class="col-md-4 control-label" for="checkboxOEnfAut">Otras enfermedades autoinmunes</label>
  <div class="col-md-4">
  <div class="checkbox">
    <label for="checkboxOEnfAut-0">
      <input type="checkbox" name="checkboxOEnfAut" id="checkboxOEnfAut-0" value="1">
      Lupus
    </label>
  </div>
  <div class="checkbox">
    <label for="checkboxOEnfAut-1">
      <input type="checkbox" name="checkboxOEnfAut" id="checkboxOEnfAut-1" value="2">
      Sjogren
    </label>
  </div>
  <div class="checkbox">
    <label for="checkboxOEnfAut-2">
      <input type="checkbox" name="checkboxOEnfAut" id="checkboxOEnfAut-2" value="Alta">
      Hepatitis autoinmune
    </label>
  </div>
  </div>
</div>
<div class="container">


  <h2>Medicamentos previos</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Medicamento</th>
        <th>Utilizado</th>
        <th>En uso</th>
        <th>Dosis máxima</th>
        <th>Causa suspensión</th>
        <th>Toxicidad</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Metotrexato</td>
        <td>
        <!-- Select Basic -->
        <div class="form-group">
        <div class="col-md-10">
          <select id="selectbasicM1U" name="selectbasicM1U" class="form-control">
              <option value="1">Sí</option>
              <option value="2">No</option>
          </select>
          </div>
        </div>
        </td>

        <td>
        <!-- Select Basic -->
        <div class="form-group">
        <div class="col-md-10">
            <select id="selectbasicM1EU" name="selectbasicM1EU" class="form-control">
              <option value="1">Sí</option>
              <option value="2">No</option>
            </select>
        </div>
        </div>
        </td>

        <td>
        <div class="form-group">
          <div class="col-md-9">
        <input id="textinputDosis" name="textinputDosis" type="number" placeholder="" class="form-control input-md"> 
          </div>
        </div>
        </td>

        <td>
        <div class="form-group">
          <div class="col-md-9">
        <input id="textinputCausa" name="textinputCausa" type="text" placeholder="" class="form-control input-md"> 
          </div>
        </div>
        </td>

        <td>
        <div class="form-group">
          <div class="col-md-9">
        <input id="textinputToxi" name="textinputToxi" type="number" placeholder="" class="form-control input-md"> 
          </div>
        </div>
        </td>

      </tr>



      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Sulfasalazina</td>
        <td>
        <!-- Select Basic -->
        <div class="form-group">
        <div class="col-md-10">
          <select id="selectbasicM1U" name="selectbasicM1U" class="form-control">
              <option value="1">Sí</option>
              <option value="2">No</option>
          </select>
          </div>
        </div>
        </td>

        <td>
        <!-- Select Basic -->
        <div class="form-group">
        <div class="col-md-10">
            <select id="selectbasicM1EU" name="selectbasicM1EU" class="form-control">
              <option value="1">Sí</option>
              <option value="2">No</option>
            </select>
        </div>
        </div>
        </td>

        <td>
        <div class="form-group">
          <div class="col-md-9">
        <input id="textinputDosis" name="textinputDosis" type="number" placeholder="" class="form-control input-md"> 
          </div>
        </div>
        </td>

        <td>
        <div class="form-group">
          <div class="col-md-9">
        <input id="textinputCausa" name="textinputCausa" type="text" placeholder="" class="form-control input-md"> 
          </div>
        </div>
        </td>

        <td>
        <div class="form-group">
          <div class="col-md-9">
        <input id="textinputToxi" name="textinputToxi" type="number" placeholder="" class="form-control input-md" value="alta"> 
          </div>
        </div>
        </td>

      </tr>


      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Prednisolona</td>
        <td>
        <!-- Select Basic -->
        <div class="form-group">
        <div class="col-md-10">
          <select id="selectbasicM1U" name="selectbasicM1U" class="form-control">
              <option value="1">Sí</option>
              <option value="2">No</option>
          </select>
          </div>
        </div>
        </td>

        <td>
        <!-- Select Basic -->
        <div class="form-group">
        <div class="col-md-10">
            <select id="selectbasicM1EU" name="selectbasicM1EU" class="form-control">
              <option value="1">Sí</option>
              <option value="2">No</option>
            </select>
        </div>
        </div>
        </td>

        <td>
        <div class="form-group">
          <div class="col-md-9">
        <input id="textinputDosis" name="textinputDosis" type="number" placeholder="" class="form-control input-md"> 
          </div>
        </div>
        </td>

        <td>
        <div class="form-group">
          <div class="col-md-9">
        <input id="textinputCausa" name="textinputCausa" type="text" placeholder="" class="form-control input-md"> 
          </div>
        </div>
        </td>

        <td>
        <div class="form-group">
          <div class="col-md-9">
        <input id="textinputToxi" name="textinputToxi" type="number" placeholder="" class="form-control input-md" value="Alta"> 
          </div>
        </div>
        </td>

      </tr>

    </tbody>
  </table>
</div>

<!-- Button -->
      <div class="form-group">
        <label class="col-md-3 control-label" for="singlebutton"></label>
        <div class="col-md-3">
          <button id="singlebutton" name="singlebutton" style="height:50px; width:420px" class="btn btn-info" ui-sref="resultados">Analizar</button>
        </div>
      </div>



</fieldset>
</form>
			</div>

			<!-- Trigger the modal with a button -->



			</div>

		</div>
	</div>
</div>