<div>
	<h2><small>¿Nuevo en DoctorX?</small></h2>
	<div class="jumbotron">
		<div class="container">
			<h1>¡Bienvenido Max!</h1>
			<h3>Acá podrás agendar una cita, ingresar tu historia médica y recibir sugerencias para mejorar tu salud </h3><br /><br />
			<p>
				<a  ui-sref="reports" class="btn btn-primary btn-lg btn-outline btn-rounded">Consigue tu especialista</a>
				<a  ui-sref="citas" class="btn btn-primary btn-lg btn-outline btn-rounded">Mi calendario de citas</a>

			</p>

		<div class="row">
		<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Formulario Ponny</legend>

<!-- Multiple Radios (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="radios">Número de amor</label>
  <div class="col-md-4"> 
    <label class="radio-inline" for="radios-0">
      <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
      1
    </label> 
    <label class="radio-inline" for="radios-1">
      <input type="radio" name="radios" id="radios-1" value="2">
      2
    </label> 
    <label class="radio-inline" for="radios-2">
      <input type="radio" name="radios" id="radios-2" value="3">
      3
    </label> 
    <label class="radio-inline" for="radios-3">
      <input type="radio" name="radios" id="radios-3" value="4">
      4
    </label>
  </div>
</div>

<!-- Search input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="searchinput">asd</label>
  <div class="col-md-6">
    <input id="searchinput" name="searchinput" type="search" placeholder="placeholder" class="form-control input-md">
    <p class="help-block">help</p>
  </div>
</div>

<!-- Select Multiple -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectmultiple">Select Multiple</label>
  <div class="col-md-4">
    <select id="selectmultiple" name="selectmultiple" class="form-control" multiple="multiple">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
    </select>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Button</button>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Text Input</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
  <span class="help-block">help</span>  
  </div>
</div>

</fieldset>
</form>

		</div>
		</div>
	</div>
</div>