<div>
    <a ui-sref="inicio" class="pull-right btn btn-primary btn-outline btn-rounded">Volver a inicio</a>
    <h2>Resultados <small></small></h2>
    <span class="glyphicon glyphicon-search bg-fade"></span>
    <div class="jumbotron">
        <div class="container">
            <style>
                .list-group-horizontal .list-group-item {
                    display: inline-block;
                }
                
                .list-group-horizontal .list-group-item {
                    margin-bottom: 0;
                    margin-left: -4px;
                    margin-right: 0;
                }
                
                .list-group-horizontal .list-group-item:first-child {
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 4px;
                }
                
                .list-group-horizontal .list-group-item:last-child {
                    border-top-right-radius: 4px;
                    border-bottom-left-radius: 0;
                }
            </style>
            <!-- Trigger the modal with a button -->
            <div class="page-header">
                <h2>Artritis Reumatoide</h2>
            </div>
            <div class="row">
                <div class="col-md-4">Nivel actividad de la enfermedad</div>
                <div class="col-md-6">
                    <div class="list-group list-group-horizontal">
                        <a class="list-group-item">Leve</a>
                        <a class="list-group-item active">Moderada</a>
                        <a class="list-group-item">Severa</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">Riesgo</div>
                <div class="col-md-6">
                    <div class="list-group list-group-horizontal">
                        <a class="list-group-item active">Alto</a>
                        <a class="list-group-item">Bajo</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">Riesgo mala adherencia:</div>
                <div class="col-md-4">
                    <ul class="list-group">
                        <li class="list-group-item" style="height:35px;">
                            <div class="col-md-6">Oral:</div>
                            <div class="col-md-6">30%</div>
                        </li>
                        <li class="list-group-item" style="height:35px;">
                            <div class="col-md-6">Endovenoso:</div>
                            <div class="col-md-6">50%</div>
                        </li>
                        <li class="list-group-item" style="height:35px;">
                            <div class="col-md-6">Subcutánea:</div>
                            <div class="col-md-6">65%</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">Riesgo infecciones</div>
                <div class="col-md-6">
                    <div class="list-group list-group-horizontal">
                        <a class="list-group-item">40%</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">Riesgo cardiovascular</div>
                <div class="col-md-6">
                    <div class="list-group list-group-horizontal">
                        <a class="list-group-item">40%</a>
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col-md-4">Supervivencia a 10 años</div>
                <div class="col-md-6">
                    <div class="list-group list-group-horizontal">
                        <a class="list-group-item">5%</a>
                    </div>
                </div>
            </div>


            <div class="page-header">
                <h3>Tratamientos</h3>
            </div>
            <div id=tratamiento1>
                <div class="row">
                    <h3>Metotrexato oral</h3>
                </div>
                <div class="row">
                    <div class="col-md-4">Probabilidad de supervivencia del fármaco:</div>
                    <div class="col-md-6">90%</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Tiempo promedio en llevar a remisión:</div>
                    <div class="col-md-6">1.6 años</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Cantidad dosis inicio:</div>
                    <div class="col-md-6">50 mg</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Cantidad dosis máxima:</div>
                    <div class="col-md-6">200 mg</div>
                </div>
                <div class="row">
                </div>
                <div class="row">
                </div>
            </div>
            <div id=tratamiento2>
                <div class="row">
                    <h3>Metotrexato muscular</h3>
                </div>
                <div class="row">
                    <div class="col-md-4">Probabilidad de supervivencia del fármaco:</div>
                    <div class="col-md-6">70%</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Tiempo promedio en llevar a remisión:</div>
                    <div class="col-md-6">0.7 años</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Cantidad dosis inicio:</div>
                    <div class="col-md-6">150 mg</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Cantidad dosis máxima:</div>
                    <div class="col-md-6">500 mg</div>
                </div>
                <div class="row">
                </div>
                <div class="row">
                </div>
            </div>



        </div>
    </div>